@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media only screen and (max-width: 1550px) {
      /* Medium screen styles */
      margin-left: 100px;
      margin-right: 100px;
    }

    @include tablet {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;

      @include tablet {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      @include mobile() {
        display: none;
      }

      .git {
        :hover {
          cursor: pointer;
          color: #2dba4e;
        }
      }

      .linkedin {
        :hover {
          cursor: pointer;
          color: #0077b5;
        }
      }

      .facebook {
        :hover {
          cursor: pointer;
          color: #4267b2;
        }
      }

      .insta {
        :hover {
          cursor: pointer;
          color: #c13584;
        }
      }
    }
  }
}
